{% extends 'layout.html.twig' %}

{% block title %} Troc & Troc {% endblock %}

{% block stylesheet %}
    <style>
        #main_home {
            display: flex;
            flex-direction: column;
            font-size: 1.1em;
            margin-top: 20px;
            background-image: url("/assets/images/paperClip.png");
            background-repeat: no-repeat;

        }

        #main_home > p:first-of-type {
            font-size: 0.7em;
            text-align: center;
        }

        #carousel {
            height: 300px;
            margin: 40px auto;
            padding: 0px 20px;
            display: flex;
        }

        #main_home > img {
            height: auto;
            width: 70%;
            padding: 30px;
            margin-top: 20px;
            transform: rotateZ(25deg);
            z-index: -1000;
        }

        #carousel > blockquote {
            font-size: 0.8em;
            margin-left: 20px;
            margin-top: 0px;
            padding: 10px;
            background-color: white;
            box-shadow: 2px 2px 3px #777777;
            height: 100%;
        }

        #carousel > blockquote > p {
            font-size: 0.9em;
        }

        #carousel > blockquote > p:first-of-type {
            font-size: 1.1em;
            font-weight: 600;
        }


         #troc {
            height: 320px;
            padding: 20px;
             margin-bottom: 100px;
        }

        #propose, #recherche {
            height: 160px;
            display: flex;
            justify-content: space-between;
        }

        #footer_desktop {
            display: none;
        }

        #propose > img, #recherche > img {
            width: 50%;
        }

    </style>
{% endblock %}


{% block content %}
    {% include '_nav_top.html' %}
    <main class="container-fluid" id="main_home">

        <p><strong>"Des échanges sans argent pour des liens plus humains"</strong></p>
{#        <img src="/assets/images/paperClip.png" alt="">#}
        <section id="carousel">
            <blockquote>
                <p>Avez-vous déjà eu vent<br>de cette fabuleuse histoire de troc ?</p>
                <p>D'un homme qui, à partir d'un simple trombone, obtenu une maison ?</p>
                <p>Pour connaître son histoire, <a href="">c'est par ici.</a></p>

                <p>Et vous, jusqu'où pourriez-vous aller à partir d'un simple trombone ?</p>
            </blockquote>
        </section>

        <section id="troc">
            <article id="propose">
                <div>
                    <a href="/product/bienOuService/propose">je propose</a>
                </div>
                <img src="/assets/images/right_hand.jpg" alt="Right_hand">
            </article>
            <article id="recherche">
                <img src="/assets/images/right_hand.jpg" alt="Right_hand">
                <div>
                    <a href="/product/bienOuService/recherche">je recherche</a>
                </div>
            </article>
        </section>

        <section id="footer_desktop">
            <ul>
                <a href=""><li>En savoir plus</li></a>
                <a href=""><li>Plan du site</li></a>
                <a href=""><li>Contactez nous</li></a>
                <a href=""><li>Mentions Légales</li></a>
            </ul>
        </section>

    </main>

    <footer>
        {% include '_nav_bar.html.twig' %}
    </footer>
{% endblock %}

{% block javascripts %}
    <script>
        $(function () {
            const div_search = $('#div_one');
            const div_prop = $('#div_two');
            const button_search = $('#button_search');
            const button_prop = $('#button_prop');

            div_search.fadeOut();
            div_prop.fadeOut();

            button_search.on('click', function () {
                div_search.fadeToggle(400);
                div_prop.fadeOut();
            })

            button_prop.on('click', function () {
                div_prop.fadeToggle(400);
                div_search.fadeOut();
            })



        });

    </script>
{% endblock %}




