{% extends 'layout.html.twig' %}

{% block title %} Troc & Troc {% endblock %}

{% block content %}
    <header class="container-fluid" id="header_home">
        <nav class="navbar navbar-expand-md navbar-dark" id="nav_top">
            <!-- Brand -->
            <span>
                <h3>Troc & Troc</h3>

                <div class="menu">
                    <span class="menu-circle"></span>
                    <a href="#" class="menu-link">
                      <span class="menu-icon">
                        <span class="menu-line menu-line-1"></span>
                        <span class="menu-line menu-line-2"></span>
                        <span class="menu-line menu-line-3"></span>
                      </span>
                    </a>
                </div>
            </span>

            <p>"Des échanges sans argent pour des liens plus humains"</p>

        </nav>
    </header>
    <div class="menu-overlay">
        <a href="/">Accueil</a>
        <a href="#">Je propose</a>
        <ul>
            <li><a href="">Un Bien</a></li>
            <li><a href="">Un Service</a></li>
        </ul>
        <a href="#">Je recherche</a>
        <ul>
            <li><a href="">Un Bien</a></li>
            <li><a href="">Un Service</a></li>
        </ul>
        <a href="#">Plan du site</a>
        <a href="#">Infos - FAQ</a>
        <a href="#">Contact</a>
        <a href="#">Mentions Légales</a>
    </div>

    <main class="container-fluid" id="main_home">

        <section id="carousel">carousel</section>

        <section id="examples">
            <blockquote>"Aujourd'hui les gens connaissent le prix de tout<br> et la valeur de rien"<br> - Oscar Wilde - </blockquote>
            <p>C'est dans cet esprit qu'est né Troc & Troc, et c'est dans cet esprit que nous espérons fédérer le plus grand nombre</p>
            <p>Bien évidemment, il ne sera pas question d'échanger une voiture contre quelques oeufs, mais pourquoi pas une voiture contre 2 mois de travaux de rénovation ?</p>
            <p>Ou un ordinateur en échange de cours de soutien scolaire réguliers ?</p>
            <p>Des oeufs que j'ai en trop contre des légumes qui tu as en trop ?</p>
            <p>Des courses que je peux faire pour vous en échange de cours de piano que vous savez si bien jouer ?</p>
            <p><strong>Soyez créatifs.ives, vous avez forcément quelque chose à offrir</strong></p>
            <img src="/assets/images/icons/down_arrow.png" alt="bottom arrow">
        </section>
        <section id="troc">
            <article id="propose"><a href="/product/bienOuService/propose">je propose</a></article>
            <article id="recherche"><a href="/product/bienOuService/recherche">je recherche</a></article>
        </section>
    </main>

    <footer>
        {% include '_nav_bar.html.twig' %}
    </footer>
{% endblock %}

{% block javascript %}
{% endblock %}




