{% extends 'layout.html.twig' %}

{% block title %} Troc & Troc {% endblock %}

{% block content %}
    {% include '_nav_top.html' %}
    <main class="container-fluid" id="main_home">

        <section id="carousel">
            <article>
                <div id="div_one">
                    <ul>
                        <li><a href="/Product/show/bien">Rechercher un bien</a></li>
                        <li><a href="/Product/show/service">Rechercher un service</a></li>
                    </ul>
                    <h4>Quelle genre d'affaire ?</h4>
                </div>
                <button type="button" class="btn btn-primary btn-lg" id="button_search"><h1>Chercher une affaire</h1></button>
            </article>
            <img src="/assets/images/icons/stream.svg" alt="">
            <article>
                <button type="button" class="btn btn-primary btn-lg" id="button_prop"><h1>Proposer une affaire</h1></button>
                <div id="div_two">
                    <h4>Quelle genre d'affaire ?</h4>
                    <ul>
                        <li><a href="/Product/add/bien">Proposer un bien</a></li>
                        <li><a href="/Product/add/service">Proposer un service</a></li>
                    </ul>
                </div>
            </article>
        </section>

        <section id="examples">
            <blockquote>"Aujourd'hui les gens connaissent le prix de tout<br> et la valeur de rien"<br> - Oscar Wilde - </blockquote>
            <p>C'est dans cet esprit qu'est né Troc & Troc, et c'est dans cet esprit de valeur que nous espérons fédérer le plus grand nombre</p>
            <p>Bien évidemment, il ne sera pas question d'échanger une voiture contre quelques oeufs, mais pourquoi pas une voiture contre 2 mois de travaux de rénovation ?</p>
            <p>Ou un ordinateur en échange de cours de soutien scolaire réguliers ?</p>
            <p>Des oeufs que j'ai en trop contre des légumes qui tu as en trop ?</p>
            <p>Des courses que je peux faire pour vous en échange de cours de piano que vous savez si bien jouer ?</p>
            <p><strong>Soyez créatifs.ives, vous avez forcément quelque chose à offrir</strong></p>
            <img src="/assets/images/icons/down_arrow.png" alt="bottom arrow">
        </section>

        <section id="troc">
            <article id="propose"><a href="/product/bienOuService/propose">je propose</a></article>
            <article id="recherche"><a href="/product/bienOuService/recherche">je recherche</a></article>
        </section>

        <section id="footer_desktop">
            <ul>
                <a href=""><li>En savoir plus</li></a>
                <a href=""><li>Plan du site</li></a>
                <a href=""><li>Contactez nous</li></a>
                <a href=""><li>Mentions Légales</li></a>
            </ul>
        </section>

    </main>

    <footer>
        {% include '_nav_bar.html.twig' %}
    </footer>
{% endblock %}

{% block javascripts %}
    <script>
        $(function () {
            const div_search = $('#div_one');
            const div_prop = $('#div_two');
            const button_search = $('#button_search');
            const button_prop = $('#button_prop');

            div_search.fadeOut();
            div_prop.fadeOut();

            button_search.on('click', function () {
                div_search.fadeToggle(400);
                div_prop.fadeOut();
            })

            button_prop.on('click', function () {
                div_prop.fadeToggle(400);
                div_search.fadeOut();
            })



        });

    </script>
{% endblock %}




