{% extends 'layout.html.twig' %}

{% block title %} Troc & Troc {% endblock %}

{% block stylesheet %}
    <style>

        #header_home {
            box-shadow: 0 3px 3px #777;
        }

        .col-6 {
            max-width: 100%;
        }

        #nav_top > span:first-of-type {
            display: none;
        }

        #main_home {
            display: flex;
            flex-direction: column;
            font-size: 1.1em;
            margin-top: 20px;
            /*background-image: url("/assets/images/paperClip.png");*/
            /*background-repeat: no-repeat;*/
            background-color: #FFF;

        }

        #main_home > p:first-of-type {
            font-size: 0.7em;
            text-align: center;
        }

        #carousel {
            height: 80%;
            margin: 40px auto 0px;
            display: flex;
            padding: 0;
        }

        #carousel > blockquote {
            font-size: 1em;
            margin-left: 20px;
            margin-bottom: 20px;
            margin-right: 20px;
            padding: 0;
            /*background-color: #f59800;*/
            /*color: #FFF;*/
            /*box-shadow: 2px 2px 3px #777777;*/
            height: 100%;
            border-radius: 5px;
        }
        /*blockquote > p:first-of-type {
            font-size: 1.2em;
            font-weight: 600;
        }
        blockquote > p:last-of-type {
            font-size: 1.1em;
            margin-bottom: 40px;
            font-weight: 600;
        }
        blockquote > p:nth-of-type(3) {
            font-size: 0.8em;
        }
        blockquote > p > a:link {
            background-color: #FFF;
            padding: 5px;
            border-radius: 5px;
            font-weight: 600;
            /*text-decoration: underline;*/
        }
        /*.Ama {
            /*color: #f59800;
            font-family: Amarillo;
        }
        .Cream {
            font-family: "Cream Cake";
        }
        .Gabriella {
            font-family: "Gabriella";
        }
        .Badly {
            font-family: "Badly";
        }*/

        #troc {
             height: 320px;
             padding: 20px;
             margin-bottom: 100px;
             display: flex;
            flex-direction: column;
        }
        #troc > img {
            width: 100%;
            display: block;
        }
        #troc > article {
            text-align: center;
            font-size: 1.6em;
            font-weight: 500;
        }
        article a:link, article a:visited {
            color: #f59800;
        }
        article a:hover {
            color: #00A99D;
        }

        #footer_desktop {
            display: none;
        }

        #propose > img, #recherche > img {
            width: 50%;
        }

        #clips {
            display: flex;
            justify-content: center;
            margin: 0 auto;

        }
        .clip {
            height: auto;
            width: 15%;
            padding: 20px;
            margin-left: 10px;
            transform: rotateZ(35deg);
            display: block;
        }
        .left_clip {
            transform: rotateZ(-30deg);
        }

        blockquote > p:nth-of-type(2), blockquote > p:nth-of-type(1) {
            font-size: 1.2em;
            color: #00A99D;
        }

        h1 {
            font-size: 42px;
            text-align: center;
        }

        p {
            text-align: center;
        }

    </style>
{% endblock %}


{% block content %}
    <main class="container-fluid" id="main_home">
        <div class="row">
            <div class="col-12" id="carousel">
                <blockquote>
                    <h1>Avez-vous déjà eu vent de cette fabuleuse histoire de troc ?</h1>
                    <p>L'histoire d'un homme qui, en partant d'un simple trombone, a fini par obtenir une maison ? <small>Découvrez-la <a href="">ici</a></small></p>

                    <p><strong>Et vous,<br> quel sera votre troc du jour ?</strong></p>
                </blockquote>
            </div>
        </div>
        <div class="row">
            <div class="col-10" id="clips">
                <img src="/assets/images/paperClip.png" alt="" class="clip left_clip">
                <img src="/assets/images/paperClip.png" alt="" class="clip">
                <img src="/assets/images/paperClip.png" alt="" class="clip left_clip">
                <img src="/assets/images/paperClip.png" alt="" class="clip">
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <section id="troc" class="shadow-lg">

                    <article id="propose">
                        <a href="/product/bienOuService/propose">Proposer un Troc</a>
                    </article>

                    <img src="/assets/images/mains4.png" alt="">

                    <article id="recherche">
                        <a href="/product/bienOuService/recherche">Rechercher un troc</a>
                    </article>

                </section>
            </div>
        </div>

        <section class="row" id="footer_desktop">
            <ul>
                <a href=""><li>En savoir plus</li></a>
                <a href=""><li>Plan du site</li></a>
                <a href=""><li>Contactez nous</li></a>
                <a href=""><li>Mentions Légales</li></a>
            </ul>
        </section>

    </main>
{% endblock %}

{% block javascripts %}
    <script>
        $(function () {
            const div_search = $('#div_one');
            const div_prop = $('#div_two');
            const button_search = $('#button_search');
            const button_prop = $('#button_prop');

            div_search.fadeOut();
            div_prop.fadeOut();

            button_search.on('click', function () {
                div_search.fadeToggle(400);
                div_prop.fadeOut();
            })

            button_prop.on('click', function () {
                div_prop.fadeToggle(400);
                div_search.fadeOut();
            })
        });

    </script>
{% endblock %}




