<header id="retour">
    <a href="/home/index">
        <img src="/assets/images/icons/previous_white.png" alt="retour">
    <!--        <h4>Retour</h4>-->
    </a>
</header>

{#ici switch URI pour redirection selon page#}
