<header class="container-fluid" id="header_home">
    <nav class="navbar navbar-expand-md navbar-dark" id="nav_top">
        <!-- Brand -->
        <span>
                <h3>Troc & Troc</h3>

                <div class="menu">
                    <span class="menu-circle"></span>
                    <a href="#" class="menu-link">
                      <span class="menu-icon">
                        <span class="menu-line menu-line-1"></span>
                        <span class="menu-line menu-line-2"></span>
                        <span class="menu-line menu-line-3"></span>
                      </span>
                    </a>
                </div>
        </span>
    </nav>
</header>
<div class="menu-overlay">
    <a href="/">Accueil</a>
    <a href="/Product/bienOuService/propose">Je propose</a>
    <ul>
        <li><a href="/Product/add/bien">Un Bien</a></li>
        <li><a href="/Product/add/service">Un Service</a></li>
    </ul>
    <a href="/Product/bienOuService/recherche">Je recherche</a>
    <ul>
        <li><a href="/Product/show/bien">Un Bien</a></li>
        <li><a href="/Product/show/service">Un Service</a></li>
    </ul>
    <ul>
        <li><a href="#">Plan du site</a></li>
        <li><a href="#">Infos - FAQ</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">Mentions Légales</a></li>
    </ul>
</div>
