<header id="retour">
{#    {% if var == 'propose' or var == 'recherche' %}#}
{#        <a href="/home/index">#}
{#            {% elseif var == '' %}#}
        <img src="/assets/images/icons/previous_white.png" alt="retour">
    <!--        <h4>Retour</h4>-->
    </a>
</header>



{#ici switch URI pour redirection selon page#}
