<section class="container-fluid" style="display:flex;">
    <header class="container-fluid" id="header_home">
        <nav class="navbar navbar-expand-md navbar-dark" id="nav_top">


            <h2>Troc & Troc</h2>

            <div class="menu">
                <span class="menu-circle"></span>
                <a href="#" class="menu-link">
                <span class="menu-icon">
                    <span class="menu-line menu-line-1"></span>
                    <span class="menu-line menu-line-2"></span>
                    <span class="menu-line menu-line-3"></span>
                </span>
                </a>
            </div>
        </nav>
    </header>
</section>
<div class="menu-overlay" id="mySidenav">
    <p class="motto">Des échanges sans argent pour des liens plus humains</p>
    <a href="/"><h1>Accueil</h1></a>
    <section class="burger_main">
        <article class="burger_propose">
            <a href="/Product/bienOuService/propose"><h1 class="h1orange">Je propose</h1></a>
            <ul>
                <li><a href="/Product/add/bien">Un Bien</a></li>
                <li><a href="/Product/add/service">Un Service</a></li>
            </ul>
        </article>
        <article class="burger_recherche">
            <a href="/Product/bienOuService/recherche"><h1 class="h1orange">Je recherche</h1></a>
            <ul>
                <li><a href="/Product/show/bien">Un Bien</a></li>
                <li><a href="/Product/show/service">Un Service</a></li>
            </ul>
        </article>
    </section>
    <section class="others_burger">
        <ul>
            <li><a href="/user/inscription" title="s'inscrire">S'inscrire</a></li>
            <li><a href="/user/login" title="se connecter">Se connecter</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
        <ul>
            <li><a href="#">Plan du site</a></li>
            <li><a href="#">Infos - FAQ</a></li>
            <li><a href="#">Mentions Légales</a></li>
        </ul>
    </section>
</div>