<ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Accueil</a></li>
    <li class="breadcrumb-item"><a href="#">Recherche</a></li>
    <li class="breadcrumb-item"><a href="#">Bien</a></li>
    <li class="breadcrumb-item active">Perceuse</li>
</ul>
