<div class="container-fluid">
    <form action="" method="post">
        <div="form-group">
        <label for="category-select">Quel type de service proposez-vous ?</label>
        <select class="form-control" name="category-select">
            <option>Choisissez une catégorie</option>
        </select>
        <select class="form-control" name="category-select">
            <option>Choisissez une sous-catégorie</option>
        </select>
        </div>
        <div class="form-group">
            <label for="service-title">Titre de votre annonce</label>
            <input type="text" class="form-control" id="service-title" placeholder="ex.: 2h de bêchage">
        </div>
        <div class="form-group">
            <label for="service-description">Description du service</label>
            <input type="text" class="form-control" id="service-description" placeholder="Précisez si besoin, et n'oubliez pas de donner vos disponibilités !">
        </div>
        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="check-don">
            <label class="form-check-label" for="check-don">Don</label>
        </div>
        <div class="form-group">
            <label for="service-echange">Ou en échange de:</label>
            <input type="text" class="form-control" id="service-echange" placeholder="Précisez ici le(s) bien(s)/service(s) souhaité(s) en échange">
        </div>
        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="check-autres">
            <label class="form-check-label" for="check-autres">Vous êtes ouvert.e à toute proposition</label>
        </div>
        <div class="buttons">
            <button type="button" class="btn btn-outline-primary">Aperçu</button>
            <button type="button" class="btn btn-primary">Publier !</button>
        </div>
    </form>
</div>
