{% extends 'layout.html.twig' %}

{% block head %}
    <title>Proposer un Bien</title>
    {% block stylesheet %}<link rel="stylesheet" href="/assets/css/p_b-style.css">{% endblock %}
{% endblock %}

{% block content %}
    <h1>Proposer un bien</h1>
    {% include 'Product/_formGood.html.twig' %}
{% endblock %}