{% extends 'layout.html.twig' %}

{% block head %}
    <title>Proposer un Service</title>
    {% block stylesheet %}<link rel="stylesheet" href="/assets/css/p-s_style.css">{% endblock %}
{% endblock %}

{% block content %}
    <h1>Proposer un service</h1>
    {% include 'Product/_formService.html.twig' %}
{% endblock %}