{% extends 'layout.html.twig' %}

{% block head %}
    <title> Liste des biens</title>

{% endblock %}


{% block header %}
    <h1>Liste des biens</h1>
{% endblock %}

{% block content %}
    <h1>Liste des biens</h1>
    <ul>
        {% for product in products %}
            <li>{{ product.id }} - {{ product.title }} : {{ product.description }} <br></li>
            Date de Parution : {{ product.created_at }}
            <hr>
        {% else %}
            <li>Nothing to display</li>
        {% endfor %}
    </ul>

{% endblock %}
