{% extends "base.html.twig" %}

{% block head %}
    <title> Liste des biens</title>

{% endblock %}


{% block header %}
    <h1>Liste des biens</h1>
{% endblock %}

{% block main %}
 {{% dump product %}}

{% endblock %}
