{% extends 'layout.html.twig' %}

{% block head %}
    <title> Liste des biens</title>

{% endblock %}


{% block header %}
    <h1>Liste des biens</h1>
{% endblock %}

{% block content %}
    <h1>Liste des biens</h1>

        {% for product in products %}

            <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="..." class="card-img" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{ product.title }}</h5>
                            <p class="card-text">{{ product.description }}</p>
                            <p class="card-text"><small class="text-muted">Date de Parution : {{ product.created_at }}</small></p>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}


{% endblock %}

