{% extends "layout.html.twig" %}

{% block stylesheet %}
    <style>
        body{
            flex-flow: wrap;
        }

        .service{
            width: 100%;
            text-align: center;
        }
        .input-group{
            flex-direction: row-reverse;
        }
    </style>
{% endblock %}
{% block title %}
    Je recherche un service
{% endblock %}

{% block header %}

{% endblock %}

{% block content %}
    <header>
        <div id="retour" >
            <i class="fas fa-arrow-circle-left"></i>
        </div>   <!-- pas un span, lien retour choisir type + icon flèche -->
    </header>
    <div class="service">
        <h1>Un service</h1>
    </div>
    <div class="container">
        <form>
            {#    <input type="text" placeholder="ex: Une poussette, du bois de construction, ...">#}
            <div class="container-fluid">
                <div class="input-group input-group-lg">
                    <div class="input-group-prepend">
                        <button class="input-group-text" id="inputGroup-sizing-lg">Recherche </button>
                    </div>
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
                </div>
            </div>
        </form>

        <div class="form-group">
            <label for="sel1">Catégories</label>
            <select class="form-control" id="sel1">
                {% for category in categories %}
                    <option> {{ category.title }} </option>
                {% endfor %}
            </select>
        </div>
    </div>
    <section id="suggestions">
        <h3>Ce qu'il pourrait vous intéressez</h3>
        <div>Carousel</div>
    </section>

{% endblock %}