{% extends "layout.html.twig" %}

{% block stylesheet %}
    <style>

        h1 {
            text-align: center;
        }
        .input-group{
            flex-direction: row-reverse;
        }
    </style>
{% endblock %}
{% block title %}
    Je recherche un service
{% endblock %}

{% block header %}

{% endblock %}

{% block content %}
    {% include '_nav_retour.html' %}
    <section class="container-fluid">
        <h1>Un service</h1>

        <form action="" method="get">
            {#    <input type="text" placeholder="ex: Une poussette, du bois de construction, ...">#}
            <div class="container-fluid">
                <div class="input-group input-group-lg">
                    <div class="input-group-prepend">
                        <button type="submit" class="input-group-text" id="inputGroup-sizing-lg">Recherche </button>
                    </div>
                    <input type="text" name="search" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
                </div>
            </div>

            <div class="form-group">
                <label for="sel1">Catégories</label>
                <select class="form-control" id="sel1" name="category">
                    {% for category in categories %}
                        <option value="{{ category.id }}"> {{ category.title }} </option>
                    {% endfor %}
                </select>
            </div>

        </form>

    </section>
    <section id="suggestions">
        <h3>Ce qui pourrait vous intéresser</h3>
        <div>Carousel</div>
    </section>

{% endblock %}