{% extends "layout.html.twig" %}

{% block stylesheet %}
    <style>
 
        .bien{
            width: 100%;
            text-align: center;
        }
        .input-group{
            flex-direction: row-reverse;
        }
    </style>
{% endblock %}
{% block title %}
    Je recherche un bien
{% endblock %}

{% block content %}
    {% include '_nav_retour.html.twig' %}
    <div class="bien">
        <h1>Un bien</h1>
    </div>
    <div class="container">
        <form>
            <div class="container-fluid">
                <div class="input-group input-group-lg">
                    <div class="input-group-prepend">
                        <button class="input-group-text" id="inputGroup-sizing-lg">Recherche </button>
                    </div>
                    <input type="submit" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
                </div>
            </div>
        </form>

        <div class="form-group">
            <label for="sel1">Catégories</label>
            <select class="form-control" id="sel1">
                {% for category in categories %}
                    <option value="{{ category.id }}"> {{ category.title }} </option>
                {% endfor %}
            </select>
        </div>

    </div>
{% endblock %}



