html {
    padding: 20px;
}

.page-title {
    display: flex;
    justify-content: center;
    margin: 10px;
    padding: 10px;
}

.page-title h1 {

}

.container-fluid {
    display: flex;
    justify-content: center;
}

div.form-group, div.range, div.buttons {
    margin: 10px;
    padding: 10px;
}

.buttons {
    float: right;
}

.error {
    color: red;
}