
h1{
    text-align: center;
}
.row{
    flex-wrap: nowrap;

}
.col_listProduct{
    max-width: 100px;
}

/**@media screen and (min-width: 800px){

    .container_listProduct{
        display: flex;

    }
    .row{
        flex-wrap: wrap;

    }
    .card{
        margin:20px;
        min-width: 300px;
    }

}