/*
/////////////////////////////////////////////////////// GENERAL /////////////////////////////////
*/
.container-fluid, html, body {padding: 0; margin: 0; box-sizing: border-box;}
.row { margin: 0px;}

body {
    margin: auto auto;
    /*width: 400px;*/
    display: flex;
    flex-direction: column;
}


a:link {text-decoration: none; color: black;}
a:visited {text-decoration: none; color: black;}
a:hover {text-decoration: underline; color: green;}
a:active {text-decoration: underline; color: black;}

/*
/////////////////////////////////////////////////////////// NAV BARS //////////////////////////////////////
 */

#nav_bottom {
    position: fixed;
    bottom: 0px;
    height: 60px;
    width: 100%;
    border: 1px solid black;
    background-color: white;
}
#nav_bottom ul {
    display: flex;
    justify-content: space-around;
    padding: 0px;
    margin-top: 10px;

}
#nav_bottom ul li {
    list-style-type: none;
    cursor: pointer;
}

#nav_bottom ul li img {
    width: 36px;
}

#retour img {
    padding-top: 15px;
    padding-left: 15px;
}

#retour h4 {
    color: white;
}

#retour section {
    display: flex;
    justify-content: space-between;

}



/*
////////////////////////////////////////////////// Home/index /////////////////////////
*/
#main_home {
    display: flex;
    flex-direction: column;
    font-size: 1.1em;
}

#header_home, #nav_top, #retour {
    height: 60px;
    background-color: #820050;
    color: white;
}

#header_home nav > p {
    font-size: 0.7em;
}

#header_home nav > span {
    display: flex;
    justify-content: space-between;
}

#header_home nav > span > h3 {
    margin-bottom: 0px;
}

#main_home {
    margin-top: 90px;
}

#main_home #carousel {
    height: 600px;
    display: none;
}

#main_home #examples {
    font-size: 0.9em;
    margin: 20px;
}

#main_home #examples > p:last-of-type {
    margin-top: 40px;
}

#main_home #examples img {
    width: 24px;
    margin: auto auto;
    display: block;
}

#main_home #examples blockquote, #main_home #examples p:last-of-type {
    text-align: center;
}

#main_home #troc {
    height: 320px;
}

#main_home #propose, #recherche {
    height: 160px;
}

#footer_desktop {
    display: none;
}


/*
////////////////////////////////////////////////// Item/bienOuService /////////////////////////
*/


/*
////////////////////////////////////////////////// Product/_formGood /////////////////////////
*/

#add_bien {
    margin-top: 50px;
    padding: 20px;
    margin-bottom: 50px;
}

#add_bien label {
    font-weight: bold;
    font-size: 1.2em;
}

#add_bien span {
    margin-bottom: 30px;
}

#add_bien textarea {
    margin-bottom: 30px;
}

#add_bien > form > div:last-child {
    text-align: center;
}

/*
////////////////////////////////////////////////// Product/_formService /////////////////////////
*/

#add_service {
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 20px;
}

#add_service label {
    font-weight: bold;
    font-size: 1.2em;
}

#add_service span, textarea {
    margin-bottom: 30px;
}

#openOrNot {
    font-size: 0.7em;
}

#add_service > form > div:last-child {
    text-align: center;
}


/*
////////////////////////////////////////////////// User/Inscription /////////////////////////
*/

#inscription form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#inscription form span {
    display: flex;
    justify-content: space-around;
}



#modal_compte_non_co #input_by_mail { display: none;}



/*
//////////////////////////////////////////////////// BURGER STYLE //////////////////////
 */
.menu {
    position: absolute;
    top: 10px;
    right: 10px;
    height: 46px;
    width: 46px;
}

.menu-link {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1002;
}

.menu-icon {
    position: absolute;
    width: 20px;
    height: 14px;
    margin: auto;
    left: 0;
    top: 0;
    right: 0;
    bottom: 1px;
}

.menu-circle {
    background-color: #820050;
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 50%;
    transform: scale(1);
    z-index: 500;
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
}

.menu-overlay {
    background-color: #820050;
    color: #fff;
    height: 100%;
    width: 100%;
    position: fixed;
    transition: opacity 0.2s ease-in-out;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.menu-overlay a {
    color: #fff;
    font-weight: 600;
    font-size: 32px;
    padding: 2%;
    margin-top: 20px;
}

.menu-overlay ul li a{
    font-size: 0.9em;
}

.menu-overlay li {
    width: 150px;
}


.menu-line {
    background-color: #fff;
    height: 2px;
    width: 100%;
    border-radius: 2px;
    position: absolute;
    left: 0;
    transition: all 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.menu-line-1 { top: 0; }

.menu-line-2 {
    top: 0;
    bottom: 0;
    margin: auto;
}

.menu-line-3 { bottom: 0; }

.menu-overlay.open {
    opacity: 1;
    visibility: visible;
}

.menu.open .menu-circle {
    transform: scale(2);
}

.menu.open .menu-line-2 { opacity: 0; }

.menu.open .menu-line-1 {
    transform: translateY(7px) translateY(-50%) rotate(-135deg);
}

.menu.open .menu-line-3 {
    transform: translateY(-7px) translateY(50%) rotate(135deg);
}

#modal_compte_non_co, #modal_compte_co { display: none;}

/*
/////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////// DESKTOP VIEW ////////////////////////////////////////////////////////////////
*/

@media (min-width: 992px) {

    #nav_bottom {
        top: 40px;
        right: 0px;
        height: 50px;
        width: 50px;
        border: none;
    }

    #nav_bottom ul{
        flex-direction: column;
    }

    #nav_bottom ul li {
        margin-top: 5px;
    }

    #nav_bottom ul li:not(:nth-of-type(3)){
        display: none;
    }

    #header_home > nav {
        background-color: white;
        flex-direction: column;
        height: 150px;
        box-shadow: 3px 3px 3px #777;
    }

    #header_home span {
        margin: auto auto;
    }

    #header_home h3, #header_home p {
        font-size: 4em;
        text-align: center;
        color: #820050;
    }

    .menu {
        left: 40px;
        top: 40px;
        height: 64px;
        width: 64px;
    }

    .menu-overlay {
        width: 25%;
    }

    .menu-line, #main_home {
        background-color: #820050;
    }

    .menu-circle {
        background-color: #fff;
    }

    .menu-icon {
        width: 32px;
        height: 20px;
    }

    .menu.open .menu-circle {
        background-color: #820050;
    }

    .menu.open .menu-line {
        background-color: white;
    }

    .menu-overlay > a:first-of-type {
        margin-top: 80px;
    }

    #main_home #carousel {
        display: flex;
        justify-content: space-around;
        margin: 0 200px;
        color: white;
    }

    #main_home {
        box-shadow: 3px 3px 3px #777;
    }

    #main_home #carousel img {
        width: 100%;
    }

    #main_home #carousel a {
        color: white;
    }

    #main_home #carousel article {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    #main_home #carousel article > div {
        /*visibility: hidden;*/
        display: flex;
        flex-direction: column;
    }

    #main_home #carousel article:first-of-type {
        margin-top: 180px;
        margin-left: 50px;
    }

    #main_home #carousel article:first-of-type button {
        position: fixed;
        top: 465px;

    }

    #main_home #carousel article:first-of-type h4 {
        margin-bottom: 20px;
        margin-left: 30px;
    }

    #main_home #carousel article:first-of-type ul, #carousel article:last-of-type ul {
        margin-left: 10px;
    }

    #main_home #carousel article:first-of-type ul li, #carousel article:last-of-type ul li {
        margin-top: 10px;
    }


    #main_home #carousel article:last-of-type {
        margin-top: 220px;
    }

    #main_home #carousel article:last-of-type h4 {
        margin-top: 20px;
        margin-left: 30px;
    }



    #main_home #carousel button {
        background-color: white;
        color: #820050;
        border-radius: 50px;
        border: none;
    }
    
    #examples, #troc {
        display: none;
    }

    #footer_desktop {
        display: block;
        width: 100%;
        position: absolute;
        bottom: 0px;
    }

    #footer_desktop ul {
        display: flex;
        justify-content: space-around;
        font-weight: bold;
        text-transform: uppercase;
    }

    #footer_desktop ul li {
        list-style-type: none;
        color: #820050;

    }

    #retour {
        height: 40px;
    }

    #retour img {
        display: none;
    }

    #recherche_top {
        height: 50%;
        background-color: white;
    }




}



