/*
/////////////////////////////////////////////////////// GENERAL /////////////////////////////////
*/
.container-fluid, html, body {padding: 0; margin: 0; box-sizing: border-box;}
.row { margin: 0px;}

body {
    margin: auto auto;
    display: flex;
    flex-direction: column;
    background-color: #F1F1F0;
}

/*@media (min-width: 600px) {*/
/*    body {*/
/*        width: 60%;*/
/*        margin: auto auto;*/
/*    }*/
/*}*/


a:link {text-decoration: none; color: #00A99D;}
a:visited {text-decoration: none; color: #00A99D;}
a:hover {text-decoration: underline; color: #00A99D;}
a:active {text-decoration: underline; color: #00A99D;}

.breadcrumb { background-color: transparent; font-size: 0.8em;}

ul > li {
    list-style-type: none;
}
.custom-radio:last-of-type {
    margin-bottom: 30px;
}

/*
/////////////////////////////////////////////////////////// NAV BARS //////////////////////////////////////
 */

#nav_bottom {
    position: fixed;
    bottom: 0px;
    height: 60px;
    border: 1px solid black;
    background-color: white;
    z-index: 10;
}
#nav_bottom ul {
    display: flex;
    justify-content: space-around;
    padding: 0px;
    margin-top: 10px;

}
#nav_bottom ul li {
    list-style-type: none;
    cursor: pointer;
}

#nav_bottom ul li img {
    width: 36px;
}

#retour img {
    padding-top: 15px;
    padding-left: 15px;
}

#retour h4 {
    color: white;
}

#retour section {
    display: flex;
    justify-content: space-between;

}

#menu_profil img {
    width: 26px;
    margin-right: 10px;
    margin-bottom: 15px;
    padding-top: 10px;
}

/*
////////////////////////////////////////////////// Home/index /////////////////////////
*/
#header_home, #nav_top, #retour {
    height: 60px;
    background-color: #00A99D;
    color: #ffffff;
}

#nav_top > p {
    font-size: 0.8em;
}

#nav_top {
    display: flex;
    justify-content: space-between;
}

#nav_top > h2 {
    margin-right: 120px;
    margin-bottom: 0px;
}


/*
////////////////////////////////////////////////// User/Inscription /////////////////////////
*/

#inscription form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#inscription form span {
    display: flex;
    justify-content: space-around;
}



#modal_compte_non_co #input_by_mail { display: none;}



/*
//////////////////////////////////////////////////// BURGER STYLE //////////////////////
 */
.menu {
    position: absolute;
    top: 10px;
    right: 10px;
    height: 46px;
    width: 46px;
}

.menu-link {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1002;
}

.menu-icon {
    position: absolute;
    width: 20px;
    height: 14px;
    margin: auto;
    left: 0;
    top: 0;
    right: 0;
    bottom: 1px;
}

.menu-circle {
    background-color: transparent;
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 50%;
    transform: scale(1);
    z-index: 500;
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
}

.menu-overlay {
    background-color: #820050;
    color: #fff;
    height: 100%;
    width: 100%;
    position: fixed;
    transition: opacity 0.2s ease-in-out;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.menu-overlay a {
    color: #fff;
    font-weight: 600;
    padding: 2%;
    margin-top: 20px;
}
.menu-overlay > a:nth-of-type(2),
.menu-overlay > a:nth-of-type(3) {
    font-size: 32px;
}

.menu-overlay > ul:last-of-type {
    margin-bottom: 50px;
}

.menu-overlay ul li a{
    font-size: 0.9em;
}

.menu-overlay li {
    width: 150px;
}


.menu-line {
    background-color: #fff;
    height: 2px;
    width: 100%;
    border-radius: 2px;
    position: absolute;
    left: 0;
    transition: all 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.menu-line-1 { top: 0; }

.menu-line-2 {
    top: 0;
    bottom: 0;
    margin: auto;
}

.menu-line-3 { bottom: 0; }

.menu-overlay.open {
    opacity: 1;
    visibility: visible;
}

.menu.open .menu-circle {
    transform: scale(35);
}

.menu.open .menu-line-2 { opacity: 0; }

.menu.open .menu-line-1 {
    transform: translateY(7px) translateY(-50%) rotate(-135deg);
}

.menu.open .menu-line-3 {
    transform: translateY(-7px) translateY(50%) rotate(135deg);
}

#modal_compte_non_co, #modal_compte_co { display: none;}

/*
/////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////// DESKTOP VIEW ////////////////////////////////////////////////////////////////
*/

@media (min-width: 992px) {

    #nav_bottom {
        position: absolute;
        top: 70px;
        right: 0px;
        height: 50px;
        width: 50px;
        border: none;
        background-color: #F1F1F0;
    }

    #nav_bottom ul{
        flex-direction: column;
    }

    #nav_bottom ul li {
        margin-top: 5px;
    }

    #nav_bottom ul li:not(:nth-of-type(3)){
        display: none;
    }

    #main_home {
        box-shadow: 3px 3px 3px #777;
    }


    #footer_desktop {
        width: 100%;
        padding-right: 10%;
        position: static;
        bottom: 0px;
    }

    #footer_desktop ul {
        width: 100%;
        display: flex;
        justify-content: space-around;
        font-weight: bold;
        text-transform: uppercase;
    }

    #footer_desktop ul li {
        list-style-type: none;
        color: #00A99D;
    }
}

/*
/////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////// TABLET VIEW ////////////////////////////////////////////////////////////////
*/

@media (min-width: 992px) {

}



