<form action="" method="POST">

    <label for="nickname">Nom utilisateur</label>
    <input type="text" name="nickname" id="nickname">
    <a href=""><p>Se connecter avec l'adresse email</p></a>

    <label for="pass">Mot de passe</label>
    <input type="password" name="pass" id="pass">

    <button type="submit">Me connecter</button>

    <p>Mot de passe oublié ? <a href="">Réinitialiser le</a></p>

    <p>Pas encore inscrit ? <a href="/user/inscription">Rejoignez la communauté !</a></p>

</form>
