{% extends "layout.html.twig" %}


{% block title %} Inscription {% endblock %}

{% block content %}
<section id="inscription">
    //modal-head
    <h1>Formulaire d'inscription</h1>
    <p>Lorem ipsum</p>

    //modal-body
    <form action="" method="POST">

        <label for="nickname">Un nom</label>
        <input type="text" name="nickname" id="nickname" placeholder="" required>
        <span></span>

        <label for="email">Un mail</label>
        <input type="email" name="email" id="email" placeholder="" required>
        <p></p>

        <label for="pass">Mot de passe</label>
        <input type="password" name="pass" id="pass" placeholder="" required>

        <label for="pass2"></label>
        <input type="password" name="pass2" id="pass2" placeholder="Vérification Mot de Passe" required>

        <span>
            <input type="checkbox" name="condition" id="condition" required>
            <label for="condition">"J'accepte les <a href="">conditions générales d'utilisation</a>"</label>
        </span>
        <button type="submit">Créer mon compte</button>

    </form>
</section>
{% endblock %}


{% block javascript %}{% endblock %}






