{% extends "layout.html.twig" %}
{% block title %} Inscription {% endblock %}
{% block stylesheet %}
    <style>
        #inscription {
            padding: 20px;
        }
    </style>
{% endblock %}

{% block content %}
    {% include '_nav_retour.html.twig' %}
    {% include '_nav_bar.html.twig' %}
<section id="inscription">
    <h1>Formulaire d'inscription</h1>
    <p>Lorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsum</p>

    <form action="" method="POST" novalidate>

        <label for="nickname">Un nom</label>
        <input type="text" name="nickname" id="nickname" placeholder="" required>
        <span class="error">{{ (errors.nickname is defined) ? errors.nickname : '' }}</span>

        <label for="email">Un mail</label>
        <input type="email" name="email" id="email" placeholder="" required>
        <span class="error">{{ (errors.email is defined) ? errors.email : '' }}</span>

        <label for="pass">Mot de passe</label>
        <input type="password" name="pass" id="pass" placeholder="" required>

        <label for="pass2"></label>
        <input type="password" name="pass2" id="pass2" placeholder="Vérification Mot de Passe" required>
        <span class="error">{{ (errors.pass is defined) ? errors.pass : '' }}</span>
        <span>
            <input type="checkbox" name="condition" id="condition" required>
            <label for="condition">"J'accepte les <a href="">conditions générales d'utilisation</a>"</label>
        </span>
        <button type="submit">Créer mon compte</button>

    </form>
</section>
{% endblock %}


{% block javascript %}{% endblock %}






