{% extends "layout.html.twig" %}
{% block title %} Inscription {% endblock %}
{% block stylesheet %}
    <style>

        #inscription {
            padding: 16px;
        }

        #inscription > div {
            background-color: #FFF;
            padding: 10px;
            border-radius: 5px;
            box-shadow: 2px 3px 3px #777;
        }

        h1 {
            margin-bottom: 20px;
        }

        .error {
            color: #00A99D;
            font-weight: 600;
        }

        form > div > div {
            margin-top: 20px;
            font-size: 0.8em;
            display: inline;
        }
    </style>
{% endblock %}

{% block content %}
    {% include '_nav_retour.html.twig' %}
    {% include '_nav_bar.html.twig' %}
<section id="inscription" class="row container-fluid">
    <div class="col-md-4 offset-md-4">
        <h1>Inscription</h1>
        <hr>

        <form action="" method="POST" novalidate>

            <div class="form-group">
                <label for="nickname">Un nom</label><br>
                <input type="text" name="nickname" id="nickname" placeholder="" required>
                <p class="error">{{ (errors.nickname is defined) ? errors.nickname : '' }}</p>

                <label for="email">Un mail</label><br>
                <input type="email" name="email" id="email" placeholder="" required>
                <p class="error">{{ (errors.email is defined) ? errors.email : '' }}</p>

                <label for="pass">Mot de passe</label><br>
                <input type="password" name="pass" id="pass" placeholder="" required>

                <label for="pass2"></label>
                <input type="password" name="pass2" id="pass2" placeholder="Vérification Mot de Passe" required>
                <p class="error">{{ (errors.pass is defined) ? errors.pass : '' }}</p>
                <div>
                    <input type="checkbox" name="condition" id="condition" required>
                    <label for="condition">"J'accepte les <a href="">conditions générales d'utilisations</a>"</label>
                </div>
            </div>

            <button type="submit" class="btn btn-warning">Créer mon compte</button>

        </form>

    </div>
</section>
{% endblock %}


{% block javascript %}{% endblock %}






