{% extends "layout.html.twig" %}

{% block stylesheet %}
    <style>
        .card {
            background-color: #FFF;
            margin: 10px;
            border-radius: 5px;
            box-shadow: 2px 3px 3px #00A99D;
        }

        .switch_input {
            font-size: 0.7em;
            color: #00A99D;
            cursor: pointer;
        }
        button {
            margin-bottom: 10px;
            background-color: #f59800;
            color: #FFF;
            border-radius: 5px;
            font-weight: 600;
            padding: 5px 10px;
        }

        @media (min-width: 500px) {
            .card {
                width: 50%;
                margin: 20px auto;
            }
        }
        @media (min-width: 800px) {
            .card {
                width: 30%;
            }
        }

        .error {
            color: #00A99D;
            font-weight: 600;
        }

        form > p:last-of-type {
            font-size: 0.7em;
        }

        label {
            font-weight: 500;
        }

    </style>
{% endblock %}



{% block content %}
    <article class="card">
        <section class="card-header"><h3>Se connecter</h3></section>
        <section class="card-body">
            <form action="" method="POST">

                <article id="input_by_name">
                    <label for="nickname">Nom utilisateur</label><br>
                    <input type="text" name="nickname" id="nickname">
                    <p class="switch_input">Se connecter avec l'adresse email</p>
                </article>

                <article id="input_by_mail">
                    <label for="email">Email</label><br>
                    <input type="email" name="email" id="email">
                    <p class="switch_input">Se connecter avec le nom utilisateur</p>
                </article>


                <p class="error">{{ (errors.login is defined) ? errors.login : '' }}</p>

                <label for="password">Mot de passe</label><br>
                <input type="password" name="password" id="password"  required>
                <p class="error">{{ (errors.pass is defined) ? errors.pass : '' }}</p>

                <button type="submit">Me connecter</button>

                <p>Mot de passe oublié ? <a href="">Réinitialiser le</a></p>

            </form>

        </section>
        <section class="card-footer">
            Pas encore inscrit ?
            <a href="/user/inscription">C'est par ici !</a>
        </section>
    </article>


{% endblock %}

{% block javascripts %}
    <script>
        $(function () {

            const input_name = $('#input_by_name');
            const input_mail = $('#input_by_mail');
            const switchy = $('.switch_input');

            input_mail.slideUp();

            switchy.click(() => {
                input_name.slideToggle();
                input_mail.slideToggle();
            });

        });
    </script>
{% endblock %}



