{% extends "layout.html.twig" %}


{% block title %} Inscription {% endblock %}

{% block content %}
<section id="inscription">
    //modal-head
    <h1>Formulaire d'inscription</h1>
    <p>Lorem ipsum</p>

    //modal-body
    <form action="" method="POST">

        <label for="pseudo">Nom utilisateur</label>
        <input type="text" name="pseudo" id="pseudo" placeholder="Votre Pseudo (requis)" required>

        <label for="mail"></label>
        <input type="email" name="mail" id="mail" placeholder="Votre Email (requis)" required>

        <label for="pass"></label>
        <input type="password" name="pass" id="pass" placeholder="Mot de Passe (requis)" required>

        <label for="pass2"></label>
        <input type="password" name="pass2" id="pass2" placeholder="Vérification Mot de Passe" required>

        <label for="condition">"J'accepte les <a href="">conditions générales d'utilisation</a>"</label>
        <input type="checkbox" name="condition" id="condition" required>

        <button type="submit">Créer mon compte</button>

    </form>


</section>


{% endblock %}


{% block javascript %}{% endblock %}






